<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" />
      <mat-error
        *ngIf="
          registerForm.controls['name'].invalid &&
          (registerForm.controls['name'].dirty ||
            registerForm.controls['name'].touched)
        "
      >
        Name is required and must be between 3 and 40 characters long and can
        only contain letters and periods.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" />
      <mat-error
        *ngIf="
          registerForm.controls['email'].invalid &&
          (registerForm.controls['email'].dirty ||
            registerForm.controls['email'].touched)
        "
      >
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        placeholder="Password"
      />
      <mat-error
        *ngIf="
          registerForm.controls['password'].invalid &&
          (registerForm.controls['password'].dirty ||
            registerForm.controls['password'].touched)
        "
      >
        Password is required and must contain at least one uppercase letter, one
        lowercase letter, one number, one special character, and be between 5
        and 8 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="confirmPass"
        placeholder="Confirm Password"
      />
      <mat-error
        *ngIf="
          registerForm.controls['confirmPass'].hasError('required') &&
          (registerForm.controls['confirmPass'].dirty ||
            registerForm.controls['confirmPass'].touched)
        "
      >
        Passwords must match.
      </mat-error>
      <mat-error
        *ngIf="
          registerForm.controls['confirmPass'].hasError('passwordMismatch') &&
          (registerForm.controls['confirmPass'].dirty ||
            registerForm.controls['confirmPass'].touched)
        "
      >
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <mat-radio-group formControlName="gender" required>
      <mat-label>Select Gender</mat-label>
      <br />
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-error
      *ngIf="
        registerForm.controls['gender'].invalid &&
        (registerForm.controls['gender'].dirty ||
          registerForm.controls['gender'].touched)
      "
    >
      Please select a gender.
    </mat-error>
    <mat-form-field appearance="fill">
      <mat-label>Team</mat-label>
      <mat-select formControlName="team">
        <mat-option value="Wordpress">Wordpress</mat-option>
        <mat-option value="Java">Java</mat-option>
        <mat-option value="Php">Php</mat-option>
        <mat-option value="Nodejs">Nodejs</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          registerForm.controls['team'].invalid &&
          (registerForm.controls['team'].dirty ||
            registerForm.controls['team'].touched)
        "
      >
        Team is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="role" placeholder="Role">
        <mat-option *ngFor="let role of roles" [value]="role.value">{{
          role.value
        }}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          registerForm.controls['role'].invalid &&
          (registerForm.controls['role'].dirty ||
            registerForm.controls['role'].touched)
        "
      >
        Role is required.
      </mat-error>
    </mat-form-field>
    <div>
      <mat-label>Select Hobby</mat-label>
      <br />
      <mat-checkbox
        *ngFor="let hobby of hobbies; let i = index"
        [value]="hobby.value"
        (change)="onCheckboxChange($event)"
        formArrayName="hobby"
      >
        {{ hobby.value }}
      </mat-checkbox>
    </div>
    <mat-error
      class="check-box-error"
      *ngIf="registerForm.controls['hobby'].invalid  &&
         registerForm.controls['hobby'].errors?.['required']"
    >
      Checkbox is required, select at least one value.
    </mat-error>
    <mat-form-field appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="dob" formControlName="dob" required />
      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
      <mat-datepicker #dob></mat-datepicker>
      <mat-error
        *ngIf="
          registerForm.controls['dob'].invalid &&
          (registerForm.controls['dob'].dirty ||
            registerForm.controls['dob'].touched)
        "
      >
        Please select a valid date of birth.
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
    <div class="form-footer">
      <p></p>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </form>
</div>
