.login-container {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  padding-top: 20px;
  form {
    padding: 20px;
    background-color: #c0c0c0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    h2 {
      text-align: center;
    }
    .invalid-user {
      text-align: center;
      color: #ff6347;
    }
    .form-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 16px 0;
    }
    button:disabled {
      cursor: not-allowed;
      pointer-events: all !important;
    }
  }
}

@media screen and (max-width: 520px) {
  .login-container {
    width: 99%;
  }
}
